body {
  font-family: "Montserrat", sans-serif;
}

label {
  display: flex;
  justify-content: start;
}

textarea {
  font-family: "Montserrat", sans-serif;
  padding: 0.3em;
  height: 5rem;
  border-style: solid;
  border-radius: 0.5em;
  border-width: 0.1em;
  resize: vertical;
}

input {
  padding: 0.3em;
  border-style: solid;
  border-radius: 0.5em;
  border-width: 0.1em;
}

button {
  font-family: "Montserrat", sans-serif;
  border-width: 0.1em;
}

select {
  font-family: "Montserrat", sans-serif;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

#form-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

#form {
  margin-top: 0em;
  padding: 1em;
  width: 100%;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.5em;
  transition: 0.5s;
  /* background-color: #eda28a; */
}

#form:hover {
  box-shadow: 0.2em 0.2em rgb(171, 171, 171);
}

#title,
#description {
  display: block;
}

#title-input,
#description-input,
#create-button {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5em;
}

#create-button-div {
  display: flex;
  justify-content: end;
}

#create-button {
  font-family: "Montserrat", sans-serif;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  background-color: #8098d3;
  transition: 1.2s;
}

#create-button:focus {
  background-color: #5c6b95;
  transition: 1.2s;
}

#create-button:hover {
  background-color: #5c6b95;
  transition: 1.2s;
}
