button {
  cursor: pointer;
}

input {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  color: black;
  width: 100%;
}

.task-container {
  display: flex;
  margin-top: 0.5em;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.5em;
  padding: 1em 1em 1em 0;
  width: 100%;
  box-shadow: 0;
  transition: 0.5s;
  /* white-space: nowrap; */
}

#task {
  width: 100%;
}

#label {
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 1em;
  float: left;
}

.task-container:hover {
  box-shadow: 0.2em 0.2em rgb(171, 171, 171);
}

.task-input {
  display: flex;
  justify-content: start;
  box-sizing: border-box;
  border: 0.1rem solid white;
  transition: 0.5s;
  padding: 0.1rem 0.1rem;
  margin: 0;
}

#task-title {
  font-size: 1.2em;
  margin-bottom: 0.02em;
  width: 100%;
}

#task-title-active {
  font-size: 1.2em;
  border: 0.1rem solid grey;
  transition: 0.5s;
  margin-bottom: 0.2em;
  width: 100%;
}

#task-description {
  font-size: 0.8em;
  margin-bottom: 0.3em;
}

#task-description-active {
  font-size: 0.8em;
  border: 0.1rem solid grey;
  margin-bottom: 0.3em;
  transition: 0.5s;
}

#task-buttons {
  display: flex;
  justify-content: end;
}

.buttons {
  display: flex;
  padding: 0.1em;
  box-sizing: border-box;
  border-width: 0.1em;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}

#complete-button {
  background-color: rgb(116, 242, 164);
  margin-right: 0.1em;
  transition: 0.8s;
}

#complete-button:hover {
  padding-right: 0.5em;
  padding-left: 0.5em;
  transition: 0.8s;
}

#uncomplete-button {
  background-color: rgb(237, 166, 51);
  margin-right: 0.1em;
  transition: 0.8s;
}

#uncomplete-button:hover {
  padding-right: 0.5em;
  padding-left: 0.5em;
  transition: 0.8s;
}

#edit-button {
  background-color: rgb(116, 156, 242);
  margin-right: 0.1em;
  transition: 0.8s;
}

#edit-button:hover {
  padding-right: 0.5em;
  padding-left: 0.5em;
  transition: 0.8s;
}

#delete-button {
  background-color: rgb(207, 84, 84);
  transition: 0.8s;
}

#delete-button:hover {
  padding-right: 0.5em;
  padding-left: 0.5em;
  transition: 0.8s;
}

#task-status-incomplete {
  display: flex;
  padding: 0.3em;
  margin-right: auto;
  align-items: top;
  font-size: 0.5em;
  font-style: italic;
  transition: 2s;
}

#task-status-complete {
  display: flex;
  padding: 0.3em;
  margin-right: auto;
  align-items: top;
  font-size: 0.5em;
  font-style: italic;
  transition: 2s;
}
