button {
  cursor: pointer;
}

input {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  color: black;
}

.task-container {
  margin-top: 0.5em;
  display: block;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.5em;
  padding: 1em;
  width: 20%;
}

.task-input {
  display: flex;
  justify-content: start;
  border: 0.1rem solid white;
  transition: 0.5s;
  padding: 0.1rem 0.1rem;
}

#task-title {
  font-size: 1.2em;
  margin-bottom: 0.2em;
}

#task-title-active {
  font-size: 1.2em;
  border: 0.1rem solid grey;
  transition: 0.5s;
  margin-bottom: 0.2em;
}

#task-description {
  font-size: 0.8em;
}

#task-description-active {
  font-size: 0.8em;
  border: 0.1rem solid grey;
  transition: 0.5s;
}

#task-buttons {
  display: flex;
  justify-content: end;
}

.buttons {
  display: flex;
  padding: 0.1em;
  box-sizing: border-box;
  border-width: 0.1em;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}

#complete-button {
  background-color: rgb(116, 242, 164);
  margin-right: 0.1em;
}

#edit-button {
  background-color: rgb(116, 156, 242);
  margin-right: 0.1em;
}

#delete-button {
  background-color: rgb(207, 84, 84);
}

#task-status {
  display: flex;
  padding: 0.3em;
  border: 0.1rem solid white;
  margin-right: auto;
  align-items: center;
  font-size: 0.5em;
  font-style: italic;
}
