html {
  padding-left: calc(100vw - 100%);
}

body {
  /* background-color: #919fc2; */
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 1em;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

a:hover {
  transition: 0.3s;
  color: cadetblue;
  flex-shrink: 0;
}

main {
  margin-bottom: 1em;
}

.App {
  text-align: center;
  width: 100%;
}

#icon-ref {
  padding-left: calc(100vw - 100%);
  font-size: 0.7em;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
